= render partial: "header"
- breadcrumb :item_edit
= render "layouts/breadcrumbs"
= render partial: "form2"
= render partial: "footer"
= javascript_include_tag 'item/edit.category.js'
= javascript_include_tag 'item/edit.js'